<script>
    export let present=[];
    const cities = ["Baltimore", "Chicago", "Los Angeles"];
    const scale = ["across all building types","within building type"];
    $:selected_cities="Baltimore";
    $:selected_scale="within building type";
    $:present=[selected_cities,selected_scale];
  
  </script>
  
  <form>
    <div>
      <h3 style="font-size:2em;">Location:</h3>
      {#each cities as city}
      <label>
      <input type=radio name="Location" id={city} value={city} bind:group={selected_cities} style="margin-right: 20"/>
      {city} 
      </label>
      <br>
      {/each}
    </div>

    <div>
      <h3 style="font-size:2em;">Scaling:</h3>
      {#each scale as scaling}
      <label>
      <input type=radio name="Scale" id={scaling} value={scaling} bind:group={selected_scale} style="margin-right: 20"/>
      {scaling}
      </label>
      <br>
      {/each}
    </div>
  </form> 