<script>
  // Properties
  export let controldata = [];
  export let indexyear =0;

  let textbutton = "Start"
  let toreset;
  let startstop = {active : true};
 
  $:continentsdata="all";
  $:controldata=[indexyear,continentsdata]
  
function count () {if(indexyear >= 214) {indexyear=0} else {indexyear += 1}};

function start()
  {if (startstop.active==true)
    {toreset = setInterval(count, 100);
    startstop.active = false;
    textbutton="Stop"}
    else {clearInterval(toreset);
    startstop.active = true;
    textbutton="Start"}};

function reset() {
  clearInterval(toreset)
  indexyear=0;
  startstop.active = true;
  textbutton="Start";
 };


</script>

<div class="row">
  <!-- button -->
  <div class="col-4">
    <button type="button" class="btn btn-primary btn-sm"  on:click={start}>{textbutton}</button>
    <button class="btn btn-primary btn-sm" on:click={reset}>Reset</button>
  </div>
  <!-- slider -->
    <div class="col-5">
    <label class="form-label col-sm-10">Year: {indexyear+1800}
    <input type="range" min="0" max="214" stap="1" bind:value={indexyear}></label>
    </div>
    <!-- dropdown -->
    <div class="col-3">
  <select bind:value={continentsdata}>
    <option value="all">all</option>
    <option value="europe">europe</option>
    <option value="asia">asia</option>
    <option value="americas">americas</option>
    <option value="africa">africa</option>
  </select>
</div>
</div>


