<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";


  $: controldata=[0,"all"];
  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

$: continent=controldata[1];
$: extracteddata=function(element){
  if(continent=="all"){return element[controldata[0]].countries}
  else{
    return element[controldata[0]].countries.filter(d=>d.continent==continent)
   }
};

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={extracteddata(data)} />
    <Controls bind:controldata={controldata} />

  </div>
{/if}



