<script>
  import {scaleOrdinal,scaleLinear} from 'd3-scale'
  import {schemeAccent} from 'd3-scale-chromatic'

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const x_scale = scaleLinear().domain([0,10]).range([0, innerWidth])
  const y_scale = scaleLinear().domain([0,3]).range([innerHeight, 0]);
  const color_scale=scaleOrdinal().domain(values.map(x => x.category)).range(schemeAccent)
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
        {#each values as vl}
    <line x1={x_scale(vl.x)} y1={y_scale(vl.y)} x2={x_scale(vl.x)} y2={innerHeight} />
    <circle cx={x_scale(vl.x)} cy={y_scale(vl.y)} r=4 fill={color_scale(vl.category)} />
    <text x={x_scale(vl.x)} y={y_scale(vl.y)-8}> {vl.y}</text>
    {/each}
    <line x1=0 y1={innerHeight} x2={innerWidth} y2={innerHeight} />

  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  line {
    stroke: rgb(83, 47, 47);
    stroke-width: 2;
  }

</style>