<script>
import {scaleBand,scaleLinear} from 'd3-scale';
import {axisLeft,axisBottom} from 'd3-axis';
import {select} from 'd3-selection';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // Scale
  let services = data.map(d => d.service);
  let viewers = data.map(d => d.service);
  const x_scale = scaleBand().domain(services).range([0, innerWidth]).paddingInner(0);
  const y_scale = scaleLinear().domain([0,3]).range([innerHeight,0]);
  function x_axis(x) {
    axisBottom(x_scale)(select(x));
}
  function y_axis(x) {
    axisLeft(y_scale)(select(x))
}

</script>

<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as dp (dp.service)}

    <rect 
    x = "{x_scale(dp.service)}"
    y = "{y_scale(dp.viewers)}"
    width = "{innerWidth / (services.length+2)}"
    height = "{innerHeight - y_scale(dp.viewers)}"
    fill = "orange"
    ></rect>
    {/each}

  </g>
  <g use:x_axis transform="translate(50,270)" ></g>
  <g use:y_axis transform="translate(50,10)" ></g>

<text xx="0%" y="50%" style="font-size:x-small;" alignment-baseline="middle" fill="black" transform="translate(-130,180)  rotate(-90)">Viewers (Million) </text>

</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
